@import '~client/common.css';

.wrapper:global(.ant-row) {
  flex-flow: row nowrap;
}

.wrapper {
  background-color: var(--color-column-headings);
  padding: 8px 0;
}

.label {
  font-weight: 600;
}
