@import '~client/common.css';

.wrapper:global(.ant-row) {
  flex-flow: row nowrap;
}

.wrapper {
  background-color: var(--color-background);
  align-items: stretch;
  min-height: 48px;
  border-bottom: 1px solid var(--color-borders);
}

.wrapper > *:not(.category) {
  padding: 3px 0;
}

.category > div {
  width: 4px;
  height: 100%;
}

.product {
  display: flex;
  flex-wrap: nowrap;
}

.product .thumbnail {
  flex: 0 0 auto;
  width: 24px;
}

.product .thumbnail img {
  height: 42px;
  max-width: 24px;
}

.product .details {
  flex: 1 1 auto;
  margin-left: 8px;
}

.product .details > h3 {
  font-weight: 600;
  margin: 0;
}

.product .details > h4 {
  font-weight: normal;
  color: var(--color-text-lighter);
  margin: 0;
}

.product .stocked {
  flex: 0 0 auto;
  align-self: center;
  margin-right: 24px;
  color: var(--color-icon);
}

.category > .is-recommended {
  background-color: var(--color-green);
}

.category > .is-other {
  background-color: var(--color-orange);
}

.category > .is-caution {
  background-color: var(--color-red);
}

.net-gain {
  font-weight: 600;
  color: var(--color-red);
}

.net-gain.is-positive {
  color: var(--color-green);
}

.is-selected {
  background-color: var(--color-selected);
}

.is-aligned {
  align-self: center;
}
