.wrapper:global(.ant-row) {
  flex-flow: row nowrap;
}

.wrapper {
  background-color: #fff;
  align-items: stretch;
  min-height: 48px;
  border-bottom: 1px solid #ddd;
}

.wrapper > *:not(.category) {
  padding: 3px 0;
}

.category > div {
  width: 4px;
  height: 100%;
}

.product {
  display: flex;
  flex-wrap: nowrap;
}

.product .thumbnail {
  flex: 0 0 auto;
  min-width: 20px;
}

.product .thumbnail img {
  height: 42px;
}

.product .details {
  flex: 1 1 auto;
  margin-left: 8px;
}

.product .details > h3 {
  font-weight: normal;
  margin: 0;
}

.product .details > h4 {
  font-weight: normal;
  color: #ccc;
  margin: 0;
}

.category > .is-recommended {
  background-color: green;
}

.category > .is-other {
  background-color: orange;
}

.category > .is-caution {
  background-color: orangered;
}

.is-selected {
  background-color: #e6f7ff;
}

.is-aligned {
  align-self: center;
}
