@import '~common.css';

.item {
  padding-left: 24px;
  position: relative;
}

.item::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: var(--color-background) no-repeat;
  margin-right: 8px;
  position: absolute;
  top: 0;
  border-radius: 4px;
}

.item.is-green::before {
  background-color: var(--color-green);
}
.item.is-orange::before {
  background-color: var(--color-orange);
}
.item.is-red::before {
  background-color: var(--color-red);
}
