@import '~/common.css';

.wrapper:global(.ant-layout-content) {
  background: var(--color-background);
  flex: 1 1 auto;
  overflow: auto;
}

.wrapper {
  width: 100%;
  position: relative;
  padding: 0px 50px;
  height: 100%;
}
