:root {
  --color-green: #82cc1f;
  --color-orange: #ffb107;
  --color-red: #f65d3e;
  --color-selected: #e6f7ff;
  --color-column-headings: #ddd;
  --color-borders: #ddd;
  --color-background: #fff;
}
